{% extends "base.html" %}

{% block title %}Cenik - Hair Extensions by Cat{% endblock %}

{% block content %}
  <main class="container">
    <h2>Cenik</h2>
  </main>

  <section class="cenik-table-wrapper">
    <table class="cenik-table">
      <thead>
        <tr>
          <th></th>
          <th>Celotno lasišče (200g)</th>
          <th>Polovica lasišča (100g)</th>
          <th>Premestitev</th>
          <th>Odstranitev</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Tape-Ins</th>
          <td>XX €</td>
          <td>XX €</td>
          <td>XX €</td>
          <td>XX €</td>
        </tr>
        <tr>
          <th>Micro-Links</th>
          <td>XX €</td>
          <td>XX €</td>
          <td>XX €</td>
          <td>XX €</td>
        </tr>
        <tr>
          <th>Micro-Links (Nano)</th>
          <td>XX €</td>
          <td>XX €</td>
          <td>XX €</td>
          <td>XX €</td>
        </tr>
      </tbody>
    </table>
  </section>
{% endblock %}
