{% extends "base.html" %}

{% block title %}O meni - Hair Extensions by Cat{% endblock %}

{% block content %}
  <main class="container">
    <h2>O meni</h2>
    <br>
    <br>
    <p>Živjo, sem Cat.</p>
    <p>Že od nekdaj me navdušujejo lasje, lepota in samozavest, ki jo prinese dober občutek v lastni koži. Odločila sem se, da to strast spremenim v posel, saj sem si želela ustvariti nekaj svojega in se ukvarjati s tem, kar resnično rada počnem.</p>
    <p>Moj cilj je, da se vsaka moja stranka počuti sproščeno in slišano ter da je na koncu zadovoljna z rezultatom. Verjamem, da morajo podaljški izgledati naravno, biti udobni in prilagojeni vsakemu posamezniku.</p>
    <p>Ponujam različne metode podaljševanja. Svoje storitve ponujam mobilno, torej v udobju vašega doma, vikenda, pisarne... Zame ta posel pomeni več kot le lase - želim ženskam pomagati, da se počutijo samozavestne, lepe in zadovoljne same s seboj.</p>
  </main>

  <section class="o-meni-images">
    <a href="{{ url_for('static', filename='images/certifikat1.jpg') }}" target="_blank" class="extension-image">
      <img src="{{ url_for('static', filename='images/certifikat1.jpg') }}" alt="Certifikat 1">
    </a>
    <a href="{{ url_for('static', filename='images/certifikat2.jpg') }}" target="_blank" class="extension-image">
      <img src="{{ url_for('static', filename='images/certifikat2.jpg') }}" alt="Certifikat 2">
    </a>
  </section>
{% endblock %}
